# macOS
.DS_Store

# Build
bin/
obj/
tmp/
app
__pycache__
nonSmoothGraphics
smoothGraphics
nonSmoothFunction
smoothFunction

# User files
*.user
*.suo

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json